.DS_STORE
.idea/
project/DieperGraven/DieperGravenTests/
project/DieperGraven/Pods/
project/DieperGraven/build/
project/DieperGraven/*.pbxuser
project/DieperGraven/!default.pbxuser
project/DieperGraven/*.mode1v3
project/DieperGraven/!default.mode1v3
project/DieperGraven/*.mode2v3
project/DieperGraven/!default.mode2v3
project/DieperGraven/*.perspectivev3
project/DieperGraven/!default.perspectivev3
project/DieperGraven/*.xcworkspace
project/DieperGraven/!default.xcworkspace
project/DieperGraven/xcuserdata
project/DieperGraven/profile
project/DieperGraven/*.moved-aside
